<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Game of Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="game_of_life_styles.css">
  </head>

  <body class="game_of_life">
  <br>
  <h1>Conway's Game of Life</h1>
  <div id="game_of_life_div">
  <div class="buttons_div">

    <!--Primary Buttons-->
      <button id="new_game" class="btn btn-primary" onclick="game.setup();">New Game</button>
      <button id="run_game" class="btn btn-primary" onclick="game.run_game();">Run</button>
      <!--<button class="btn btn-primary dropdown-toggle" title="Choose seed before game will start" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose Seed</button>
    <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button type="button" class="dropdown-item" onclick="game.setup('random');">random</button>-->
      <!--<button type="button" class="dropdown-item" onclick="choose_seed('/glider')">glider</button>-->
      <!--<button type="button" class="dropdown-item" onclick="choose_seed('/penta_decathlon')">penta-decathlon</button>-->
    </span>

      <button id="pause_button" class="btn btn-primary" onClick="game.pause();">Pause</button>
      <!--<button id="continue_button" class="btn btn-primary" onClick="game.run_game();">Continue</button>-->
      <button class="btn btn-primary" onClick="window.location.reload();">Reset</button>

      <br><br>

    <!--Secondary Buttons-->
      <label for="color_picker">Color</label>
      <input title="Disabled until game start. Game will pause when color changed." id="color_picker" type="color" value="#C165EC">

      <!--<button id="change_background" class="btn btn-secondary" title="Please be patient, can take a few seconds"
              onclick="change_background()">Change Background</button>-->
      <button id="grid_collapse" class="btn btn-secondary" onclick="game.collapse_border()">Spacing</button>
      <button id="more_info_button" class="btn btn-info">Info</button>
      <span class="backgroundtooltiptext">Change may take a few seconds.</span>
    </div>

  <!--Game of Life Wiki More Info modal button, uses teammate's microservice-->
  <!--ref: https://www.w3schools.com/howto/howto_css_modals.asp-->
   <div id="more_info" class="modal">
     <div id="more_info_modal">
      <span class="close">&times;</span>
      <p id="more_info_text">{{context.wiki_text}}</p>
     </div>
   </div>

  <!--Speed slider bar-->
  <div class="slidecontainer">
      <input type="range" min="600" max="1000" value="850" class="slider" id="myRange">
      <br>
      <label for="myRange">Cycle Speed</label>
  </div>

  <br><br>

  <div id="game_div"></div>

  </div>

  </body>

  <script src="https://livejs.com/live.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="game_of_life.js"></script>
</html>