html {
    height: 100%;
}

body {
    /*background-color: #1F1E1C;*/
    /*color: #f3e7d3;*/
    color: #f3e7d3
}

.container {
    text-align: right
}

.navbar {
    background-color: #efebd8 !important;

}

.nav-item {
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.nav-link:hover {
    color: #21421e !important;
}

.nav-link {
    color: #177245 !important;
}
