html {
    height: 100%;
}

body {
    /*background-color: #1F1E1C;*/
    /*color: #f3e7d3;*/
    color: #f3e7d3
}

.navbar {
    background-color: #efebd8 !important;
    
}

.nav-item {
    padding: 5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.nav-link:hover {
    color: #306030 !important;
}

.nav-link {
    color: seagreen !important;
}
