html {
    height: 100%;
}

body {
    /*background-color: #1F1E1C;*/
    /*color: #f3e7d3;*/
    color: #f3e7d3;
    height: 100%;
}

#intro_skills {
    max-width: 1000px;
}

#skills_list {
    text-align: left;
    padding-left: 10px;
}

.skill {
    margin: 0;
    padding-left: 0;
    font-weight: 500;
}

.navbar {
    background-color: #efebd8 !important;
}

#intro {
    text-align: right;
    padding-right: 15px;
}

.dropdown-menu {
    background-color: #efebd8;
}

.dropdown-item {
    font-weight: 500;
    color: #414a4c
}


.nav-item {
    font-weight: 500;
    color: #efebd8;
    font-size: 18px;
    padding-top: 5px;
}

.nav-link:hover {
    color: green !important;
}

.nav-link {
    /*color: #177245 !important;*/
    color: #414a4c !important;
}
