
body {
    background-color: black;
    background-image: url(images/space.jpg);
    background-size: auto;
}

label, h1, p {
    color: #E3E4E4;
}

h1{
    text-align: center;
}

div{
    padding: 20px;
    margin: auto;
    max-width: 600px;
    text-align: center;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    height: 320px;
    width: 480px;
    empty-cells: show;
}

.dead_cell{
    background-color: transparent;
}

td {
    width: 8px;
    height: 8px;
}

#game_div {
    position: relative;
    /*padding-left: 10px;*/
    }
