<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  </head>
  <body>
  <h1>Welcome to Conway's Game of Life!</h1>

  <a href="http://127.0.0.1:5000/game">Start Randomized Game</a>
  <a href="http://127.0.0.1:5000/index">Reset Game</a>

  </body>

</html>