<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">


  </head>
  <body>
  <br>
  <h1>Conway's Game of Life</h1>
  <div class="buttons_div">

      <button id="start_game" class="btn btn-primary" onclick="continue_game()">Start Game</button>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose Seed</button>

    <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button type="button" class="dropdown-item" onclick="choose_seed('/random')">random</button>
      <button type="button" class="dropdown-item" onclick="choose_seed('/glider')">glider</button>
      <button type="button" class="dropdown-item" onclick="choose_seed('/penta_decathlon')">penta-decathlon</button>
    </span>

      <button id="pause_button" class="btn btn-primary" onClick="stop_game();">Pause</button>
      <button id="continue_button" class="btn btn-primary" onClick="continue_game();">Continue</button>
      <button class="btn btn-primary" onClick="window.location.reload();">Reset</button>

      <br><br>

      <label for="color_picker">Cell Color</label>
      <input id="color_picker" type="color" value="#1FE045">
      <button id="change_background" class="btn btn-secondary" onclick="change_background()">Change Background</button>
      <!--<button id="change_cell_color" class="btn btn-secondary" onclick="change_cell_color()">Cell Color</button>-->
      <!--<button hidden id="change_cycle_speed" onclick="change_cycle_speed()">Cycle Speed</button>-->
      <button id="grid_collapse" class="btn btn-secondary" onclick="collapse_border()">Grid</button>
      <button onClick="more_info()" class="btn btn-info">More Info</button>
      <span class="backgroundtooltiptext">Change may take a few seconds.</span>
    </div>

  <div class="slidecontainer">
      <label for="myRange">Slower</label>
      <input type="range" min="50" max="800" value="600" class="slider" id="myRange">
      <label for="myRange">Faster</label>
      <span class="slidertooltiptext">Speed slider disabled while game active.</span>
  </div>

  <br><br>

  <div id="game_div"></div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../static/game_script.js"></script>
</html>